extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(method='POST', action='/login')

   p 
     label UserName
     input(type='text', name='username')

   p 
     label Password
     input(type='password', name='password')

   p 
     input(type='submit', name='submit')


